.notification-text {
  padding: 12px 5px;
  border-radius: 10px;
  font-size: 1.2em;
}

.notification-date {
  padding: 5px;
}

ion-toolbar {
  --background: var(--app-gradient);
  --color: #ffffff;
}
