/API/vendor/
/API/storage/logs/*.log
/API/storage/framework/cache/data/*
/API/storage/framework/sessions/*
/API/storage/framework/views/*
/API/.env

/App/node_modules/
/App/www/
/App/dist/
/App/.angular/
/App/.env

/Admin/node_modules/
/Admin/dist/
/Admin/.angular/
/Admin/.env

/api.zip

# Gradle (Android)
.gradle/
App/.gradle/
App/.cxx/

# Builds Android
build/
App/build/

# IDEs (Android Studio / IntelliJ)
.idea/
App/.idea/
*.iml
