<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>RANKING</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-text-center mt-80">
        <img [src]="podium1ProfileImage" alt="" *ngIf="podium1ProfileImage">
        <img src="assets/distriapplogo-cropped.png" alt="DistriApp" *ngIf="!podium1ProfileImage">
        <div class="podium-driver-score">
          {{podium[1]?.score}}
        </div>
        <p class="ion-no-margin driver-podium-name">
          {{podium[1]?.full_name}}
        </p>
      </ion-col>

      <ion-col size="4" class="ion-text-center">
        <img src="assets/images/crown.png" alt="" class="crown">
        <br>
        <img [src]="podium0ProfileImage" alt="" *ngIf="podium0ProfileImage">
        <img src="assets/distriapplogo-cropped.png" alt="DistriApp" *ngIf="!podium0ProfileImage">
        <div class="podium-driver-score">
          {{podium[0]?.score}}
        </div>
        <p class="ion-no-margin driver-podium-name">
          {{podium[0]?.full_name}}
        </p>
      </ion-col>

      <ion-col size="4" class="ion-text-center mt-80">
        <img [src]="podium2ProfileImage" alt="" *ngIf="podium2ProfileImage">
        <img src="assets/distriapplogo-cropped.png" alt="DistriApp" *ngIf="!podium2ProfileImage">
        <div class="podium-driver-score">
          {{podium[2]?.score}}
        </div>
        <p class="ion-no-margin driver-podium-name">
          {{podium[2]?.full_name}}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list lines="none" *ngIf="list.length > 0">
    <ion-item *ngFor="let driver of list; let i=index"
              [style.--animation-order]="i">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-self-center">
            <div class="driver-name">
              {{driver.full_name}}
            </div>
          </ion-col>
          <ion-col size="3" class="ion-text-right ion-align-self-center">
            <div class="driver-score">
              {{driver.score}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
