<div class="col-md-12">
  <div class="col-md-4">
    <!-- Apply any bg-* class to to the info-box to color it -->
    <div style="cursor: pointer" class="info-box bg-gray" routerLink='/admin/direcciones-cargadas'>
      <span class="info-box-icon"><i class="fa fa-road"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Direcciones</span>
        <span class="info-box-number">{{locationsCount}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <div class="col-md-4">
    <!-- Apply any bg-* class to to the info-box to color it -->
    <div style="cursor: pointer" class="info-box bg-gray" routerLink='/admin/repartidores'>
      <span class="info-box-icon"><i class="fa fa-road"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Repartidores</span>
        <span class="info-box-number">{{driversCount}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <div class="col-md-4">
    <!-- Apply any bg-* class to to the info-box to color it -->
    <div style="cursor: pointer" class="info-box bg-gray" routerLink='/admin/documentos-cargados'>
      <span class="info-box-icon"><i class="fa fa-files-o"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Documentos Cargados</span>
        <span class="info-box-number">{{uploadedDocumentsCount}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <div class="col-md-4">
    <!-- Apply any bg-* class to to the info-box to color it -->
    <div style="cursor: pointer" class="info-box bg-gray" routerLink='/admin/sugerencias'>
      <span class="info-box-icon"><i class="fa fa-edit"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Sugerencias</span>
        <span class="info-box-number">{{suggestionsCount}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <div class="col-md-4">
    <!-- Apply any bg-* class to to the info-box to color it -->
    <div style="cursor: pointer" class="info-box bg-gray" routerLink='/admin/notificaciones-enviadas'>
      <span class="info-box-icon"><i class="fa fa-edit"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Notificaciones</span>
        <span class="info-box-number">{{notificationsCount}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
</div>
