<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>CONTROLES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="operation-control">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Operativo</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="fuel-control">
        <ion-icon name="color-fill"></ion-icon>
        <ion-label>Combustible</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="toll-control">
        <ion-icon name="flag"></ion-icon>
        <ion-label>Peaje</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
