ion-content {
  //--background: #f7f8f9;
  //font-family: NunitoSans, 'sans-serif';
}

ion-toolbar {
  --background: var(--app-gradient);
  --color: #ffffff;
}

#deliveryMap {
  width: 100%;
  height: 100vh;
}
