.delivered {
  background: lightgreen;
}

.skipped {
  background: orangered;
}

.pending {
  background: dodgerblue;
}

.badge {
  padding: 10px;
  color: white;
  border-radius: 5px;
  display: inline;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.status {
  margin: 10px;
}

.date {
  margin: 15px;
  font-weight: bold;
}
