ion-content {
  --background: var(--ion-background-color);
  font-family: var(--ion-font-family);
}

ion-toolbar {
  --background: var(--app-gradient);
  --color: #ffffff;
}

.form-group ion-label {
  margin-left: 10px;
  display: block;
  font-size: 0.85em;
  text-align: left;
}
