// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

/** Ionic CSS Variables **/
:root {
  --ion-menu-background-color: #1a49a0;
  --ion-font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  /** primary **/
  //--ion-color-primary: #3880ff;
  //--ion-color-primary-rgb: 56, 128, 255;
  //--ion-color-primary-contrast: #ffffff;
  //--ion-color-primary-contrast-rgb: 255, 255, 255;
  //--ion-color-primary-shade: #3171e0;
  //--ion-color-primary-tint: #4c8dff;
  --ion-color-primary: #0d2b4f;
  --ion-color-primary-rgb: 13, 43, 79;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0b2545;
  --ion-color-primary-tint: #264061;

  /** secondary **/
  --ion-color-secondary: #1a49a0;
  --ion-color-secondary-rgb: 26, 73, 160;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #163f8d;
  --ion-color-secondary-tint: #315ba9;

  /** tertiary **/
  //--ion-color-tertiary: #7044ff;
  //--ion-color-tertiary-rgb: 112, 68, 255;
  //--ion-color-tertiary-contrast: #ffffff;
  //--ion-color-tertiary-contrast-rgb: 255, 255, 255;
  //--ion-color-tertiary-shade: #633ce0;
  //--ion-color-tertiary-tint: #7e57ff;
  --ion-color-tertiary: #0a1f3d;
  --ion-color-tertiary-rgb: 10, 31, 61;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #091b36;
  --ion-color-tertiary-tint: #233551;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  //--ion-color-danger: #f04141;
  //--ion-color-danger-rgb: 245, 61, 61;
  //--ion-color-danger-contrast: #ffffff;
  //--ion-color-danger-contrast-rgb: 255, 255, 255;
  //--ion-color-danger-shade: #d33939;
  //--ion-color-danger-tint: #f25454;
  --ion-color-danger: #C32836;
  --ion-color-danger-rgb: 195,40,54;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #ac2330;
  --ion-color-danger-tint: #c93e4a;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #5b6b86;
  --ion-color-medium-rgb: 91, 107, 134;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #505e77;
  --ion-color-medium-tint: #708099;

  /** light **/
  --ion-color-light: #f4f7fb;
  --ion-color-light-rgb: 244, 247, 251;
  --ion-color-light-contrast: #1c2a3f;
  --ion-color-light-contrast-rgb: 28, 42, 63;
  --ion-color-light-shade: #d7dae0;
  --ion-color-light-tint: #f6f8fc;

  --ion-background-color: #edf1f8;
  --ion-text-color: #1c2a3f;
  --app-gradient: linear-gradient(180deg, #eff3fb 0%, #dce5f7 100%);
}

html.theme-dark,
body.theme-dark {
  --app-gradient: linear-gradient(180deg, #10325d 0%, #081d36 100%);
}

html.theme-light,
body.theme-light {
  --app-gradient: linear-gradient(180deg, #eff3fb 0%, #dce5f7 100%);
}
