@import "../../../../theme/custom-theme.scss";
ion-content {
  --background: var(--ion-background-color);
  font-family: var(--ion-font-family);
}

ion-toolbar {
  --background: var(--app-gradient);
  --color: #ffffff;
}

ion-tab-bar {
  --background: var(--tab-bar-background);
  --color: var(--tab-bar-color);
  --color-selected: var(--tab-bar-color-selected);
  box-shadow: 0 -4px 12px var(--tab-bar-shadow);
}

ion-tab-button .selected-tab-button {
  --background: transparent;
}
