<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>MI PERFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="app-tab-bar">
      <ion-tab-button tab="profile-data">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

<!--      <ion-tab-button tab="profile-transport">-->
<!--        <ion-icon name="car"></ion-icon>-->
<!--        <ion-label>Unidad</ion-label>-->
<!--      </ion-tab-button>-->

      <ion-tab-button tab="profile-payment">
        <ion-icon name="radio-button-on"></ion-icon>
        <ion-label>Modalidad pago</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
