@import "../../../../theme/operation-controls";

ion-content {
  --background: var(--ion-background-color);
  font-family: var(--ion-font-family);
}

ion-toolbar {
  --background: var(--app-gradient);
  --color: #ffffff;
}

ion-list {
  --background: transparent;
  background: transparent;
  padding: 0;
}

ion-item {
  --background: transparent;
}
