<div class="close-btn-outer text-right">
  <button mat-button mat-dialog-close (click)="close(false)">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <form [formGroup]="driverForm">
    <div class="col-md-12">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Nombre"
                 formControlName="name">
          <mat-error *ngIf="driverForm.controls['name'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Apellido"
                 formControlName="lastName">
          <mat-error *ngIf="driverForm.controls['lastName'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Email"
                 formControlName="email">
          <mat-error *ngIf="driverForm.controls['email'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Teléfono"
                 formControlName="phoneNumber">
          <mat-error *ngIf="driverForm.controls['phoneNumber'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field>
          <input matInput placeholder="CBU (22 dígitos)" formControlName="bankCbu">
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-slide-toggle formControlName="bankOwnerIsDriver">CBU pertenece al conductor</mat-slide-toggle>
      </div>
      <div class="col-md-12" *ngIf="!driverForm.value.bankOwnerIsDriver">
        <mat-form-field>
          <input matInput placeholder="Nombre del titular" formControlName="bankHolderName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Documento del titular" formControlName="bankHolderDocument">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Teléfono del titular" formControlName="bankHolderPhone">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email del titular" formControlName="bankHolderEmail" type="email">
        </mat-form-field>
      </div>
      <div class="col-md-12" *ngIf="edit">
        <p>Estado CBU: <span [ngClass]="'chip '+bankStatusColor">{{ bankStatusLabel }}</span></p>
        <p *ngIf="driver?.bank_cbu_previous">CBU anterior: {{ driver.bank_cbu_previous }}</p>
        <p *ngIf="driver?.bank_cbu_requested_at">Solicitado: {{ driver.bank_cbu_requested_at | date:'short' }}</p>
        <mat-slide-toggle formControlName="confirmBankChange" *ngIf="driver?.bank_cbu_status === 'pending_owner_confirm'">
          Aprobar este cambio ahora
        </mat-slide-toggle>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Marca del vehículo"
                 formControlName="carMake">
          <mat-error *ngIf="driverForm.controls['carMake'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Modelo del vehículo"
                 formControlName="carModel">
          <mat-error *ngIf="driverForm.controls['carModel'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Año del vehículo"
                 formControlName="carYear">
          <mat-error *ngIf="driverForm.controls['carYear'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Patente del vehículo"
                 formControlName="licensePlate">
          <mat-error *ngIf="driverForm.controls['licensePlate'].hasError('required')">
            Campo requerido
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <h5>Punto de partida</h5>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Dirección base"
                 formControlName="startAddress">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Latitud"
                 formControlName="startLat" type="number">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <input matInput placeholder="Longitud"
                 formControlName="startLng" type="number">
        </mat-form-field>
      </div>

      <div class="col-md-12 text-center m10">
        <button mat-raised-button
                class="button-background"
                [disabled]="!driverForm.valid"
                (click)="submit();">
          {{buttonText}}
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
