ion-item { --background: transparent; }
ion-content {
  --background: var(--ion-background-color);
  font-family: var(--ion-font-family);
}

ion-toolbar {
  --background: var(--app-gradient);
  --color: #ffffff;
}

input {
  font-size: 0.9em;
  letter-spacing: 0;
}

h5 {
  color: #828282;
  font-weight: bold;
}

.hint {
  display: block;
  margin-top: 4px;
  font-size: 0.75rem;
}
