ion-content {
  --background: #f7f8f9;
  font-family: NunitoSans, 'sans-serif';
}

ion-toolbar {
  --background: #757dfb;
  --color: white;
}

input {
  font-size: 0.9em;
  letter-spacing: 0;
}

h5 {
  color: #828282;
  font-weight: bold;
}
