<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss(false)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h5>Datos de conductor</h5>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-label>Ciudad</ion-label>
          <input type="text" formControlName="city">
          <p class="ion-no-margin form-error-message" *ngIf="form.controls.city.invalid && showInputErrorMessage">
            Este campo es requerido
          </p>
        </ion-col>

        <ion-col size="6">
          <ion-label>Teléfono</ion-label>
          <input type="text" formControlName="phone_number">
          <p class="ion-no-margin form-error-message" *ngIf="form.controls.phone_number.invalid && showInputErrorMessage">
            Este campo es requerido
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h5>Datos bancarios</h5>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label>¿El CBU pertenece al conductor?</ion-label>
            <ion-toggle formControlName="bank_owner_is_driver" (ionChange)="onBankOwnerToggle($event)"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!form.value.bank_owner_is_driver">
        <ion-col size="12">
          <ion-label>Nombre del titular</ion-label>
          <input type="text" formControlName="bank_holder_name">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label>CBU (22 dígitos)</ion-label>
          <input type="text" formControlName="bank_cbu" inputmode="numeric">
          <ion-note color="medium" class="hint">
            Ingresá los 22 dígitos sin espacios, guiones ni caracteres especiales.
          </ion-note>
          <p class="ion-no-margin form-error-message"
             *ngIf="form.controls.bank_cbu.invalid && form.controls.bank_cbu.value && showInputErrorMessage">
            Debe contener 22 dígitos
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label>Empresa</ion-label>
          <input type="text" formControlName="company">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label>Matrícula</ion-label>
          <input type="text" formControlName="license_plate">
          <p class="ion-no-margin form-error-message"
             *ngIf="form.controls.license_plate.invalid && showInputErrorMessage">
            Este campo es requerido
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <div class="ion-text-center ion-padding">
    <ion-button class="custom-button" (click)="submit()">
      Aceptar
    </ion-button>
  </div>
</ion-content>
