<ion-content class="ion-padding ion-margin-top">
  <form [formGroup]="updatePasswordForm">
    <div class="form-group">
      <ion-label>Contraseña actual</ion-label>
      <input type="password" formControlName="oldPassword">
    </div>

    <div class="form-group">
      <ion-label position="floating">Contraseña</ion-label>
      <input type="password" formControlName="password">
    </div>

    <div class="form-group">
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <input type="password" formControlName="passwordConfirmation">
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="primary"
                shape="round"
                size="full"
                [disabled]="!updatePasswordForm.valid"
                (click)="submitForm()">
      ACEPTAR
    </ion-button>
  </ion-toolbar>
</ion-footer>
