<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss(false)" class="font-2em"></ion-icon>
    </ion-buttons>
    <ion-title>CONTROL PEAJES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <form [formGroup]="form">
    <div class="form-group">
      <ion-label>Fecha</ion-label>
      <ion-item lines="none" class="custom-item">
        <ion-datetime displayFormat="DD MMMM YYYY"
                      display-timezone="America/Argentina/Buenos_Aires"
                      [max]="maxYear"
                      [min]="minYear"
                      formControlName="date"
                      doneText="ok"
                      cancelText="cancelar"
                      monthNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
                      monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic"
                      dayNames="domingo, lunes, martes, miércoles, jueves, viernes, sábado, domingo"
                      dayShortNames="dom, lun, mar, mié, jue, vie, sáb, dom">
        </ion-datetime>
      </ion-item>
      <p class="ion-no-margin form-error-message" *ngIf="form.controls.date.invalid && showInputErrorMessage">
        Este campo es requerido
      </p>
    </div>

    <div class="form-group">
      <ion-label>Estación</ion-label>
      <input type="text" formControlName="station">
      <p class="ion-no-margin form-error-message" *ngIf="form.controls.station.invalid && showInputErrorMessage">
        Este campo es requerido
      </p>
    </div>

    <div class="form-group">
      <ion-label>Total</ion-label>
      <!--      <input type="tel" inputmode="numeric" pattern="[0-9]+(\,[0-9][0-9]?)?" formControlName="total">-->
      <input inputmode="decimal" pattern="[0-9]+(\.[0-9][0-9]?)?" formControlName="total">
      <p class="ion-no-margin form-error-message" *ngIf="form.controls.total.invalid && showInputErrorMessage">
        Este campo debe ser numérico, puede tener dos decimales
      </p>
    </div>
  </form>

  <ion-button class="custom-secondary-button" (click)="takePicture()">
    <ion-icon name="camera"></ion-icon>
    Tomar foto
  </ion-button>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let file of files; let i=index">
        <img class="control-image"
             (click)="viewControlImageDetail(file)"
             [src]="sanitizer.bypassSecurityTrustUrl(file.src)"
             alt="control-image">
        <ion-icon name="trash" class="delete-icon" (click)="deleteImage(i)"
                  *ngIf="uploadedFilesIndexes.indexOf(i) <= -1">
        </ion-icon>
        <ion-icon name="checkmark" class="checkmark-icon" color="success"
                  *ngIf="uploadedFilesIndexes.indexOf(i) > -1">
        </ion-icon>
        <ion-progress-bar class="uploadingFile" type="indeterminate"
                          *ngIf="uploadingFileIndex === i"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding">
    <ion-progress-bar *ngIf="submitting" type="indeterminate">
    </ion-progress-bar>
    <ion-button class="custom-button"
                [disabled]="submitting"
                (click)="submit()">
      Aceptar
    </ion-button>
  </div>
</ion-content>

