.first-item {
  //border-top: 1px solid black;
  //border-bottom: 1px solid black;
  margin-top: 20px;
}

.item {
  //border-bottom: 1px solid black;
}

.item-section ion-icon {
  font-size: 2em !important;
}

.item-text {
  margin-top: 5px;
}

ion-select {
  max-width: 100%;
}
