@import "../../../../theme/urban-distribution.scss";

ion-footer ion-toolbar {
  --background: transparent;
}

ion-progress-bar {
  height: 1px;
}

ion-content {
  --background: var(--ion-background-color);
}

.info {
  border: 1px dotted black;
  padding: 10px;
  font-weight: 900;
}

ion-card {
  width: 100%;
}

ion-item-sliding {
  border-radius: 15px;
  box-shadow: 0 0 7px 2px lightgrey;
}

.network-status {
  font-size: 0.7em;
}

:host-context(.theme-dark) {
  ion-content {
    --background: linear-gradient(185deg, #070f1f 0%, #0b162d 65%, #040914 100%);
  }

  ion-card,
  ion-item-sliding {
    box-shadow: 0 16px 32px rgba(2, 6, 16, 0.45);
    background: transparent;
  }
}
