@import "../../../../theme/custom-theme.scss";

ion-footer ion-toolbar {
  --background: #0d1e38 !important;
  --color: #ffffff !important;
}

ion-footer ion-toolbar ion-item {
  --background: transparent;
}
