ion-content {
  --background: var(--ion-background-color);
  font-family: var(--ion-font-family);
}

ion-toolbar {
  --background: var(--app-gradient);
  --color: #ffffff;
}

ion-item-sliding {
  border-radius: 15px;
  box-shadow: 0 0 7px 2px lightgrey;
  --background: #f4f5f8;
}

ion-item-options {
  background: #f4f5f8;
}

ion-item {
  --background: #f4f5f8;
}
