ion-content {
  --background: #f7f8f9;
  font-family: NunitoSans, 'sans-serif';
}

ion-toolbar {
  --background: #757dfb;
  --color: white;
}

ion-item-sliding {
  border-radius: 15px;
  box-shadow: 0 0 7px 2px lightgrey;
  --background: #f4f5f8;
}

ion-item-options {
  background: #f4f5f8;
}

ion-item {
  --background: #f4f5f8;
}
