<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)="dismiss(false)" class="font-2em"></ion-icon>
    </ion-buttons>
    <ion-title>RECORDATORIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-card">
  <form [formGroup]="form">
    <div class="form-group">
      <ion-label>Descripción</ion-label>
      <textarea formControlName="description"></textarea>
      <p class="ion-no-margin form-error-message" *ngIf="form.controls.description.invalid && showInputErrorMessage">
        Este campo es requerido
      </p>
    </div>

    <div class="form-group date-group">
      <ion-label>Fecha</ion-label>
      <div class="date-picker" aria-live="polite">
        <div class="date-picker__icon">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>

        <div class="date-picker__text" *ngIf="form.controls.date.value; else datePlaceholder">
          <span class="date-picker__primary">
            {{ form.controls.date.value | date:'EEEE d':'':'es-AR' }}
          </span>
          <span class="date-picker__secondary">
            {{ form.controls.date.value | date:'MMMM y':'':'es-AR' }}
          </span>
        </div>

        <ng-template #datePlaceholder>
          <div class="date-picker__text">
            <span class="date-picker__primary">Elegí una fecha</span>
            <span class="date-picker__secondary">Tocá para abrir el calendario</span>
          </div>
        </ng-template>

        <ion-icon class="date-picker__chevron" name="chevron-down-outline"></ion-icon>

        <input
          class="date-picker__input"
          type="date"
          formControlName="date"
          aria-label="Seleccionar fecha" />
      </div>

      <p class="ion-no-margin form-error-message" *ngIf="form.controls.date.invalid && showInputErrorMessage">
        Este campo es requerido
      </p>
    </div>

    <div class="form-group">
      <ion-list>
        <ion-radio-group formControlName="type">
          <ion-item lines="none">
            <ion-label>Una sola vez</ion-label>
            <ion-radio value="once"></ion-radio>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Una vez al mes</ion-label>
            <ion-radio value="monthly"></ion-radio>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Cada 6 meses</ion-label>
            <ion-radio value="semi_annually"></ion-radio>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Una vez al año</ion-label>
            <ion-radio value="yearly"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
  </form>

  <div class="ion-text-center ion-margin-bottom">
    <ion-progress-bar *ngIf="submitting" type="indeterminate">
    </ion-progress-bar>
    <ion-button class="custom-button"
                [disabled]="submitting"
                (click)="submit()">
      Aceptar
    </ion-button>
  </div>
  </div>
</ion-content>
