<!--<ion-header *ngIf="!checkingCredentials" no-border translucent>-->
<!--  <ion-toolbar no-border mode="ios">-->
<!--    <ion-title color="primary">DistriApp</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content *ngIf="!checkingCredentials">
  <div class="header">
    <img src="assets/logo.png" alt="DistriApp">
  </div>

  <div class="content">
    <form [formGroup]="signInForm">
      <div class="form-group">
        <input type="text" placeholder="Correo electrónico" formControlName="email" inputmode="email">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Contraseña" formControlName="password">
      </div>

      <ion-item lines="none">
        <ion-label>Recordarme</ion-label>
        <ion-checkbox formControlName="checkbox" slot="end" color="primary"></ion-checkbox>
      </ion-item>
    </form>

    <div class="ion-text-center ion-margin">
      <button (click)="signIn()" [disabled]="!signInForm.valid">
        INGRESAR
      </button>
    </div>

<!--    <div class="ion-text-center ion-margin">-->
<!--      <button (click)="register()" [disabled]="!signInForm.valid">-->
<!--        CREAR CUENTA-->
<!--      </button>-->
<!--    </div>-->
  </div>

  <div class="footer">
    V3.2.5
  </div>
</ion-content>

