ion-content {
  --background: var(--ion-background-color);
  font-family: var(--ion-font-family);
}

ion-toolbar {
  --background: var(--app-gradient);
  --color: #ffffff;
}


.message {
  padding: 10px;
  color: white;
  border-radius: 10px;
  display: inline-block;
}

.message-container {
  max-width: 80%;
  text-align: left;
}

.message-sent-container {
  float: right;
}

.message-received-container {
  float: left;
}

.message-received {
  background: darkgray;
}

.message-sent {
  background: #1a49a0;
}

ion-grid, ion-row {
  padding: 0 5px !important;
}
