.index {
  --background: #757dfb;
  background: #757dfb;
}

ion-item {
  --background: #f4f5f8;
}

ion-badge {
  font-size: 0.65em !important;
}

.p-small {
  font-size: 0.9em;
}

.reorder-wrapper {
  display: block;
  width: 100%;
}

.order-meta {
  display: flex;
  align-items: center;
}
