#driverLocationMap {
  width: 100%;
  height: 450px;
}

.hide-map {
  width: 0;
  height: 0;
}

.show-map {
  width: 100%;
  height: 390px;
}

mat-card {
  font-size: 1.2em;
  text-align: center;
  font-weight: bolder;
}
