.alert-ios .alert-radio-label {
  white-space: pre-line !important;
}

.alert-md .alert-radio-label {
  white-space: pre-line !important;
}

.alert-wp .alert-radio-label {
  white-space: pre-line !important;
}

.name {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.email {
  margin: 0;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.grid-profile-data {
  margin-top: 10%;
  outline: none;
}

.divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid white;
}

.fab-button-anim {
  top: 70px;
  right: 20px;
  position: absolute;
  z-index: 100;
}
