APP_NAME=Logapp
APP_ENV=local
APP_KEY=base64:2MpIXpQVEa7TY5Vw+lClO3zbQ/mPy8f0TE3fQY68DJI=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

PERSONAL_DB_CONNECTION=mysql
PERSONAL_DB_HOST=
PERSONAL_DB_PORT=3306
PERSONAL_DB_DATABASE=
PERSONAL_DB_USERNAME=
PERSONAL_DB_PASSWORD=
PERSONAL_DB_SOCKET=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=986725
PUSHER_APP_KEY=70177c7279134eac5800
PUSHER_APP_SECRET=5643cb12432f17ebfdf5
PUSHER_APP_CLUSTER=us2

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FCM_SERVER_KEY=AAAAXF4_daU:APA91bGt9IrBKjMAEkdSUHdeRBChiKzT8m3IeMGKkYz4V9TLWFWsgSVQ_ej9dEuYAH55UsiPus0Uq4CdOLW1P0tlV4p2LAC230obT7Ic27a6jpH15xFepQZjrI35_efcqfnG-290ywz7
FCM_SENDER_ID=396718208421

# 🚚 Validación de distancia para nuevas entregas (0 = sin límite)
ROUTE_MAX_DISTANCE_KM=100

GOOGLE_MAPS_KEY=AIzaSyAN9PbzNZ8y2_ScDb9pNUm3-dE_77uvzWU
GOOGLE_MAPS_KEY__=AIzaSyCSN79dFgxZuTRvxfBdUc1fM8paLU7MtSc

MAPQUEST_CONSUMER_KEY=L81mEjtgKZDwKMwAsl6YInvGu3IvXXtS
MAPQUEST_CONSUMER_SECRET=GF1LZkEViuRyRFvU

HERE_CONSUMER_KEY=99-J3vYcMCrryqOTxe_G_A
HERE_CONSUMER_SECRET=nzc25kC-aUSeIyqq01wmSppggptz3-m904Pd-mxGWElRUCaUTkeShOGs6X5m1fS2D-Z4zFkSSBgH-4ZlVk8gJQ

HERE_API_APP_ID=Fb4ttMGj02zuZVVKKMFQ
HERE_API_KEYS=KKr3g3d5rNj7Rr7yo6pbqjkewsSQk_Y3umaoZPQicbI
HERE_API_ACCESS_KEY_ID=UYkDyRpzsCBZ_uKFp04vlw
HERE_API_KEY_SECRET=x7n3b4EzS66DPbVXFqj67fW9nRKov0HNXWaFYrtNNlAlk_jyvKT4CCTAkyouYLH1thwjMS_ZDzzNGP17fNqQVw
